{% extends 'base.html' %}
{% load static %}

{% block title %}{{ request.user.username }}{% endblock %}

{% block head %}<link href="{% static 'tmitter/css/common.css' %}" rel="stylesheet">{% endblock %}

{% block location_name %}ツミート{% endblock %}

{% block content %}
    <!-- 親Tmeet -->
    {% if tmeet.parent %}
    <div id="tmeet-{{ tmeet.parent.pk }}" class="tmeet" style="cursor:pointer;" >

        <div class="user-icon">
            <a href="{% url 'user_page' tmeet.parent.user.username %}">
                {% if tmeet.parent.user.icon_image %}
                    <img src="{{ tmeet.parent.user.icon_image.url }}" style="width: 50px;height: auto;">
                {% else %}
                    <img src="/media/default/icon_default.png" style="width: 50px;height: auto;">
                {% endif %}
            </a>
        </div>

        <div class="tmeet-body">
            <div onclick="location.href='{% url 'tmeet_detail' tmeet.parent.id %}'">
                <div class="tmeet-name">
                    <span class="nick-name">{{ tmeet.parent.user.nickname }}</span>
                    <span class="user-name">@{{ tmeet.parent.user.username }}</span>
                </div>
                {% if tmeet.parent %}
                <div class="reply-to user-name">
                    <p>返信先: <a href="{% url 'user_page' tmeet.parent.user %}">@{{ tmeet.parent.user.username }}</a></p>
                </div>
                {% endif %}
                <div class="tmeet-detail">
                    <p>{{ tmeet.parent.content | linebreaksbr }}</p>
                
                    {% if tmeet.parent.picture1 %}
                        <a href="{{ tmeet.parent.picture1.url }}">
                            <p><img src="{{ tmeet.parent.picture1.url }}" style="width: 200px;height: auto;"></p>
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="tmeet-footer">
                <div class="tmeet-actions">
                    <div>
                        <a href="{% url 'create_tmeet' %}?to={{ tmeet.parent.pk }}">💭</a>{{ tmeet.parent.child.count }}
                    </div>
                    {% if request.user in tmeet.parent.like.all %}
                    <div class="like" style="cursor: hand; cursor:pointer;" data-pk="{{ tmeet.parent.pk }}">
                        <span id="like-icon-{{ tmeet.parent.pk }}" style="color:rgb(255, 0, 119);">&#9829;</span>
                        <span id="like-count-{{ tmeet.parent.pk }}">{{ tmeet.parent.like.count }}</span>
                    </div>
                    {% else %}
                    <div class="like" style="cursor: hand; cursor:pointer;" style="color:rgb(255, 0, 119);" data-pk="{{ tmeet.parent.pk }}">
                        <span id="like-icon-{{ tmeet.parent.pk }}">&#9825;</span>
                        <span id="like-count-{{ tmeet.parent.pk }}">{{ tmeet.parent.like.count }}</span>
                    </div>
                    {% endif %}
                    {% comment %} {% if tmeet.parent.user == user %}
                        <small class="delete_btn" data-pk="{{ tmeet.parent.pk }}" style="color:red; cursor:pointer;">Delete</small>
                    {% endif %} {% endcomment %}
                </div>

                {% if tmeet.parent.user == user %}
                    <div class="delete_btn" data-pk="{{ tmeet.parent.pk }}" style="color:red; cursor:pointer;">
                        <img class="delete-tmeet-icon" src={% static 'tmitter/image/delete_tmeet.png' %}>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
    {% endif %}
    <!-- 親Tmeetここまで -->

    <!-- Tmeet本体 -->
    <div id="tmeet-{{ tmeet.pk }}" class="tmeet main-tmeet" style="cursor:pointer;" >
        <!-- アイコンと名前をまとめるdiv -->
        <div class="main-tmeet-header">
            <div class="user-icon">
                <a href="{% url 'user_page' tmeet.user.username %}">
                    {% if tmeet.user.icon_image %}
                        <img src="{{ tmeet.user.icon_image.url }}" style="width: 50px;height: auto;">
                    {% else %}
                        <img src="/media/default/icon_default.png" style="width: 50px;height: auto;">
                    {% endif %}
                </a>
            </div>
            <div class="tmeet-name">
                <span class="nick-name">{{ tmeet.user.nickname }}</span>
                <span class="user-name">@{{ tmeet.user.username }}</span>
            </div>
        </div>
        <div class="main-tmeet-body">
            {% if tmeet.parent %}
                <div class="reply-to user-name">
                    <p>返信先: <a href="{% url 'user_page' tmeet.parent.user %}">@{{ tmeet.parent.user.username }}</a></p>
                </div>
            {% endif %}
            <div onclick="location.href='{% url 'tmeet_detail' tmeet.id %}'">
                <div class="tmeet-detail">
                    <p>{{ tmeet.content | linebreaksbr  }}</p>
                
                    {% if tmeet.picture1 %}
                        <a href="{{ tmeet.picture1.url }}">
                            <p><img src="{{ tmeet.picture1.url }}" style="width: 200px;height: auto;"></p>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="tmeet-footer">
                <div class="tmeet-actions">
                    <div>
                        <a href="{% url 'create_tmeet' %}?to={{ tmeet.pk }}">💭</a>{{ tmeet.child.count }}
                    </div>
                    {% if request.user in tmeet.like.all %}
                    <div class="like" style="cursor: hand; cursor:pointer;" data-pk="{{ tmeet.pk }}">
                        <span id="like-icon-{{ tmeet.pk }}" style="color:rgb(255, 0, 119);" >&#9829;</span>
                        <span id="like-count-{{ tmeet.pk }}">{{ tmeet.like.count }}</span>
                    </div>
                    {% else %}
                    <div class="like" style="cursor: hand; cursor:pointer;" data-pk="{{ tmeet.pk }}">
                        <span id="like-icon-{{ tmeet.pk }}" style="color:rgb(255, 0, 119);">&#9825;</span>
                        <span id="like-count-{{ tmeet.pk }}">{{ tmeet.like.count }}</span>
                    </div>
                    {% endif %}

                    {% comment %} {% if tmeet.user == user %}
                        <small class="delete_btn" data-pk="{{ tmeet.pk }}" style="color:red; cursor:pointer;">Delete</small>
                    {% endif %} {% endcomment %}
                </div>
                {% if tmeet.user == user %}
                    <div class="delete_btn" data-pk="{{ tmeet.pk }}" style="color:red; cursor:pointer;">
                        <img class="delete-tmeet-icon" src={% static 'tmitter/image/delete_tmeet.png' %}>
                    </div>
                {% endif %}                
            </div>
        </div>
    </div>
    <!-- Tmeet本体ここまで -->

    <!-- 子Tmeet -->
    <div id="reply_content"></div>
    <button id="load_reply_btn">返信を読み込む</button>
    <!-- 子Tmeetここまで-->
{% endblock %}


{% block js %}
    <script>
        var TemplateVar = {
            target_content_id: 'reply_content',
            target_url: '{% url "tmeet_detail_content" %}',
            tmeet_id: '{{ tmeet_id }}',
            parent_id: '{{ tmeet.parent.id }}',
            target_class: 'like',
            target_function: 'like',
            like_url: '{% url "like" %}',
            delete_tmeet: '{% url "delete_tmeet" %}',
            csrf_token: '{{ csrf_token }}',
        }
    </script>
    <script src="{% static 'tmitter/js/tmeet_detail.js' %}"></script>
{% endblock %}