{% load static %}
<!doctype html>
<html lang="ja">
    <head>
    <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'tmitter/image/favicon.png' %}">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <!-- Webフォントを利用可能にする -->
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="{% static 'tmitter/css/base.css' %}" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="main-wrapper wrapper">
            <header>
                <nav>
                    <div class="link-icon-wrapper">
                        <a href="{% url 'home' %}" class="link-icon-anchor"><img class="link-icon" src="{% static 'tmitter/image/home.png' %}"></a>
                        <span class="circle"></span>
                    </div>
                    <div class="link-icon-wrapper">
                        <a href="{% url 'explore' %}" class="link-icon-anchor"><img class="link-icon" src="{% static 'tmitter/image/search.png' %}"></a>
                        <span class="circle"></span>
                    </div>
                    <div class="link-icon-wrapper">
                        <a href="{% url 'notification' %}" class="link-icon-anchor"><img class="link-icon" src="{% static 'tmitter/image/notification.png' %}"></a>
                        <span class="circle"></span>
                        <div id="notification_notification" class="maru">
                            <span></span>
                        </div>
                        
                    </div>
                    <div class="link-icon-wrapper">
                        <a href="{% url 'messages' %}" class="link-icon-anchor"><img class="link-icon" src="{% static 'tmitter/image/message.png' %}"></a>
                        <span class="circle"></span>
                        <div id="dm_notification" class="maru">
                            <span></span>
                        </div>
                    </div>
                    <div class="link-icon-wrapper">
                        <a href="{% url 'user_page' user.username %}" class="link-icon-anchor"><img class="link-icon" src="{% static 'tmitter/image/profile.png' %}"></a>
                        <span class="circle"></span>
                    </div>
                    <div class="link-icon-wrapper">
                        <a href="{% url 'setting' %}" class="link-icon-anchor"><img class="link-icon" src="{% static 'tmitter/image/setting.png' %}"></a>
                        <span class="circle"></span>
                    </div>
                    <div class="link-icon-wrapper">
                        <a href="{% url 'create_tmeet' %}" class="link-icon-anchor"><img class="link-icon" src="{% static 'tmitter/image/create_tmeet.png' %}"></a>
                        <span class="circle"></span>
                    </div>
                    <div class="link-icon-wrapper logout-icon">
                        <a class="link-icon-anchor"><img class="link-icon" src="{% static 'tmitter/image/logout.png' %}"></a>
                        <span class="circle"></span>
                    </div>
                </nav>
            </header>

            <div class="main-content">
                <div class="location-name-wrapper" >
                    <div class="back-link" onclick="history.back()">
                        <a  class="link-icon-anchor"><img class="" src="{% static 'tmitter/image/back.png' %}"></a>
                        {% comment %} <span class="back-icon-circle"></span> {% endcomment %}
                    </div>
                    <div class="location-name">
                        {% block location_name%}{% endblock %}
                    </div>
                </div>
                <div class="main-content-body">
                   {% block content %}{% endblock content %} 
                </div>
            </div>

            <div class="right-side">
                <p>キーワード検索をする</p>
                <form action="{% url 'explore' %}" method="get">
                    <input type="search" value="{{ request.GET.query }}" name="q" type="text">
                </form>
                <p>Tmeetしてみる</p>
                <form id="form" action="{% url 'create_tmeet' %}" enctype="multipart/form-data" method="post">
                    <div class="tmeet-form-main">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <label for="id_picture1" id="picture_icon"><img src="{% static 'tmitter/image/picture_adder.png' %}"></label>
                    </div>
                    <img class="picture_preview">
                    <button type="submit" class="tmeet_btn">Tmeet !</button>
                </form>
            </div>
        </div>
        <script src="{% static 'tmitter/js/preview.js' %}"></script>
        {% block js %}{% endblock %}
        <script>
            // ログアウトの処理
            const logout_icons = document.getElementsByClassName('logout-icon');

            for (icon of logout_icons) {
                icon.addEventListener('click', () => {
                    let check = confirm('ログアウトします。よろしいですか？');
                    if (check) {
                        window.location.href = '{% url "logout" %}';
                    }
                })
            }

            // 新規の通知があるか確認する関数
            function check_new_noti_and_dm() {
                const notification_notification = document.getElementById("notification_notification");
                const dm_notification = document.getElementById("dm_notification");
                const url = "{% url 'check_new_noti_and_dm' %}"
                fetch(url, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                    },
                }).then(response => {
                    return response.json();
                }).then(response => {
                    // 新しい通知、DMがあった場合の処理
                    if (response.new_notifications > 0) {
                        notification_notification.style.display = "block";
                    }
                    if (response.new_dm_rooms > 0) {
                        dm_notification.style.display = "block";
                    }
                }).catch(error => {
                    console.log(error);
                });
            }

            // 新規通知の確認処理の実行
            document.addEventListener('DOMContentLoaded', check_new_noti_and_dm);
            var intervalId = setInterval(check_new_noti_and_dm, 60000);

            {% comment %} // tmeetの改行が反映されるよう処理
            function check() {
                // textareaの情報を取得
                let textValue = document.form.comment.value;
                
                // 「＼n」で区切り、配列として文字を取り出し,取り出した文字ごとの後ろに<br>タグを付け加える。
                textValue = textValue.split("\n").join("<br>");
                
                // divタグの要素にtextareaの情報を付与
                const test = document.querySelector('.test');
                test.innerHTML = textValue;
            };

            document.addEventListener('DOMContentLoaded', check); {% endcomment %}
        </script>
    </body>
</html>